body {
    background-color: rgb(255, 184, 108);
    color:black;
}
header {
    
}
p {
    font-weight: 700;
}
img {
    height: 200px;
}
body {
    font-family: sans-serif;
    background-color: antiquewhite;
}

h1 {
    font-size: 64px;
    color: rgb(95, 95, 214);
}