body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
}

main {
  padding: 1rem;
}

#movie-app {
  width: 60%;
  margin: 0 auto;
  border: 1px solid rgba(136, 231, 157, 0.7);
  border-radius: 10px;
}

/* App Header styles */
#app-header {
  background-color: rgb(136, 231, 157);
  padding: 5px;
  border-radius: 10px 10px 0 0;
  height: 50px;
  align-content: center;
}

#app-header a {
  text-decoration: none;
  color: #000;
}

#app-header a:hover {
  color: #000;
  cursor: pointer;
}

#app-header a:visited {
  color: #000;
}

#app-info {
  display: flex;
  align-items: center;
}

.app-logo {
  height: 40px;
  margin-right: 1rem;
  margin-left: 0.5rem;
}

.header-grid {
  display: grid;
  grid-template-columns: 3fr 50px minmax(150px, 1fr);
  grid-template-rows: 40px;
}

.info-grid {
  grid-column: 1 / 2;
}


/* Icon Button styles */
.icon-button {
  background-color: transparent;
  border: none;
  font-size: inherit;
  padding: 0;
  margin-right: 0.5rem;
}

.icon-button-inactive {
  color: grey;
}

button:hover {
  cursor: pointer;
}


/* Table styles */
table {
  margin-bottom: 2rem;
  padding: 0.5rem;
}

thead tr {
  font-size: 14px;
  text-decoration: underline;
  background-color: rgba(136, 231, 157, 0.103);
}

tbody td {
  font-size: 16px;
}

th, td {
  padding: 0.5rem;
  text-align: left;
}

tr {
  padding: 0.5rem;
}

tr:nth-child(even) {
  background-color: rgba(136, 231, 157, 0.3);
}
