.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #333;
}

.navbar a {
  text-decoration: none;
  padding: 14px 20px;
  display: block;
  font-family: 'Bernard MT', 'Arial', sans-serif;
  font-size: 1.5rem;
}
